# ==========================
# Python Virtual Environment
# ==========================
ven/
venv/
env/
ENV/

# ==========================
# Python Cache
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# MLflow
# ==========================
mlruns/
.mlflow/
*.db

# ==========================
# ==========================
# Trained Models
# ==========================
models/

# ==========================
# Generated Outputs
# ==========================
# Generated Outputs
artifacts/
logs/

# ==========================
# Streamlit Secrets
# ==========================
.streamlit/secrets.toml

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# VS Code / IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS files
# ==========================
Thumbs.db
.DS_Store

# ==========================
# Recovery / temp
# ==========================
recovered/
temp/
tmp/

# ==========================
# Build
# ==========================
build/
dist/